@media (max-width:1023px) {
  .sources {
    display: none;
  }
  .contacts {
    display: none;
  }
  .sharing-section {
    display: none;
  }
  .reminder-section {
    display: none;
  }
  .strategy-section {
    display: none;
  }
  .analytics {
    display: none;
  }
  .management-image {
    display: none;
  }
  .management-img {
    display: none;
  }
  .features-section {
    display: none;
  }
  .integration-section {
    display: none;
  }
  .impact-section {
    display: none;
  }
  .privacy-section {
    display: none;
  }
  


}
@media (min-width: 1024px){
  .leads-responsive{
    display: none;
  }
  .contacts-responsive{
    display: none;
  }
  .sharing-responsive{
    display: none;
  }
  .reminder-responsive{
    display: none;
  }
  .analytics-responsive{
    display: none;
  }
  .button-pink-mobile{
    display: none;
  }
  .sharing-img{
    width: 97%;
  }
}
@media (max-width: 600px) {

  
  .nav-login{
    display: none;
  }
  .hero{
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-hero {
    min-width: 600px;
  }
 
  .h1{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .hero-text{
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
  }
  .hero-image{
    display: none;
  }

 
}

/**************************/
/* /* HEADER  */
/**************************/

@media (max-width:600px) {
  .header{
    padding: 0;
    margin: 0;
    height: 5rem;
    padding-left: 1rem;
    position: fixed;
    background: linear-gradient(27deg, #1D2CAB -2.26%, #00BAE3 100%);
  }
  
  .nav-login{
    display: none;
  }
 
  .logo{
    padding-bottom: 13px;
  }
  .nav-buttons{
    position: absolute;
    right: 60px;
    top: 14px;
  }
   .main-nav-list.active .main-nav-link {
    font-size: 25px; /* Adjust the font size to your preference */
  }

  .hero{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 
  h1{
    
    text-align: center;
    padding-top:5.938rem;
    padding-left:0.25rem;
    padding-right:1.25rem;

  }
  .hero-text{
   
    text-align: center;
     
    padding-left:0.25rem;
    padding-right:1.25rem;
  }
  .hero-image{
    display: none;
  }
  .hero-mobile{
    display: block;
    width: 100%;
  }

  
 .logo{
  padding-left: 20px;
  padding-top: 10px;
 }
 .button-pink{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  
}
.pink-container{
  padding-left: 0.25rem;
  padding-right: 1.25rem;
}
.hero-bottom-text{
  text-align: center;
}
.hamburger {
     display: block;
    position: absolute;
    right: 21px;
    top: 28px;
    z-index: 999;
}
.hamburger.active .bar:nth-child(2){
  opacity: 0%;
}
.hamburger.active .bar:nth-child(1){
  transform:  translateY(8.5px) rotate(45deg);
  background-color: #fff;
 
}
.hamburger.active .bar:nth-child(3){
  transform:  translateY(-8px) rotate(-45deg);
  background-color: #fff;
  
}



.main-nav-list {
  position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.main-nav-list.active{
  left: 0;
  top: 0;
  z-index: 99;
  gap: 50px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  
}
.close-button {
  position: fixed;
  z-index: 999;
}
}

@media (min-width:1024px) {
  .owl-carousel.owl-theme.first-carousel {
    max-width: 91%; /* Adjust the maximum width as needed */
    margin:  0; 
    padding: 0; 
    margin-left: 94px;
    margin-top: 54px;
  }
  .first-carousel .owl-item {
    width: 100%;
  }
  .custom-prev {
    background-color: transparent;
    border: none;
    position: absolute;
    left: -87px;
    top: -1px;
}
.custom-next {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 6px;
    top: -1px;
}
}
@media  (max-width: 1023px) {
  .services{
    display: none;
  }
  .header{
    
    padding: 0;
    margin: 0;
    height: 5rem;
    padding-left: 1rem;
    position: fixed;
    background: linear-gradient(27deg, #1D2CAB -2.26%, #00BAE3 100%);
  }
  .owl-carousel.owl-theme.first-carousel {
    max-width: 100%; /* Adjust the maximum width as needed */
    margin: 10% 0; 
    padding: 0; 
  }
  .owl-item {
    max-width: 100%;
  }
  .item1,
  .item2,
  .item3,
  .item4,
  .item5,
  .item6,
  .item7,
  .item8 {
    margin: 0;
    max-width: 100%; /* Adjust the image width for small screens */
    padding: 0; /* Remove padding for small screens */
    filter: grayscale(100%);
  }
  .owl-carousel.first-carousel .owl-stage-outer {
    padding-left: 7%;
  }
  .custom-prev {
    left: 20px;
    top: -30px;
  }
  .custom-next {
    right: 20px;
    top: -30px;
  }
  .nav-login{
    display: none;
  }
 
  .logo{
    padding-bottom: 13px;
  }
  .nav-buttons{
    position: absolute;
    right: 60px;
    top: 14px;
  }
   .main-nav-list.active .main-nav-link {
    font-size: 25px; /* Adjust the font size to your preference */
  }

  .hero{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 
  h1{
    
    text-align: center;
    padding-top:5.938rem;
    padding-left:0.25rem;
    padding-right:1.25rem;

  }
  .hero-text{
   
    text-align: center;
     
    padding-left:0.25rem;
    padding-right:1.25rem;
  }
  .hero-image{
    display: none;
  }
  .hero-mobile{
    display: block;
    width: 100%;
  }

  
 .logo{
  padding-left: 20px;
  padding-top: 10px;
 }
 .button-pink{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  
}
.pink-container{
  padding-left: 0.25rem;
  padding-right: 1.25rem;
}
.hero-bottom-text{
  text-align: center;
}
.hamburger {
     display: block;
    position: absolute;
    right: 21px;
    top: 28px;
    z-index: 999;
}
.hamburger.active .bar:nth-child(2){
  opacity: 0%;
}
.hamburger.active .bar:nth-child(1){
  transform:  translateY(8.5px) rotate(45deg);
  background-color: #fff;
 
}
.hamburger.active .bar:nth-child(3){
  transform:  translateY(-8px) rotate(-45deg);
  background-color: #fff;
  
}



.main-nav-list {
  position: fixed;
    left: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.main-nav-list.active{
  left: 0;
  top: 0;
  z-index: 99;
  gap: 50px;
  padding-top: 5rem;
  padding-bottom: 3rem;
  
}
.close-button {
  position: fixed;
  z-index: 999;
}
}



/**************************/
/* /* section partners  */
/**************************/
@media (max-width: 600px) {

.partners {
  padding: 0 1rem;
}

h2{
  padding-top: 95px;
}
.owl-carousel.owl-theme.first-carousel {
    max-width: 100%; /* Adjust the maximum width as needed */
    margin: 10% 0; 
    padding: 0; 
    

  }

  
  
  .custom-prev-first {
    left: 0; /* Adjust the position of custom navigation buttons */
  }
  
  .custom-next-first {
    right: 0; /* Adjust the position of custom navigation buttons */
  }
  .owl-carousel.first-carousel,
  .owl-carousel.first-carousel {
    display: flex;
    flex-wrap: nowrap; /* Ensure that items stay in one row */
    justify-content: center; /* Center items horizontally */
    overflow: hidden; /* Hide overflow items */
  }

  .owl-carousel.first-carousel .owl-item,
  .owl-carousel.second-carousel .owl-item {
    display: flex;
    justify-content: center; /* Center each item within the carousel */
  }


}



@media (max-width: 600px) {
  
h1{
    
    text-align: center;
    padding-top:5.938rem;
  }
   
  .owl-carousel.owl-theme.first-carousel,
  .owl-carousel.owl-theme.second-carousel{
      max-width: 100%;
}

  .hero-mobile{
    display: none;
  }

  /* section partners */
.partners {
  padding: 0 1rem;
}

h2{
  padding-top: 95px;
}
.owl-carousel.owl-theme.first-carousel {
    max-width: 100%; /* Adjust the maximum width as needed */
    margin: 10% 0; 
    padding: 0; 
    

  }


  
  .custom-prev-first {
    left: 0; /* Adjust the position of custom navigation buttons */
  }
  
  .custom-next-first {
    right: 0; /* Adjust the position of custom navigation buttons */
  }
  .owl-carousel.first-carousel,
  .owl-carousel.first-carousel {
    display: flex;
    flex-wrap: nowrap; /* Ensure that items stay in one row */
    justify-content: center; /* Center items horizontally */
    overflow: hidden; /* Hide overflow items */
  }

  .owl-carousel.first-carousel .owl-item,
  .owl-carousel.second-carousel .owl-item {
    display: flex;
    justify-content: center; /* Center each item within the carousel */
  }
  

}

/**************************/
/* hero mobile */
/**************************/
@media (max-width: 600px) {
  .section-hero {
    display: none;
  }
  .leads {
    display: none;
  }
  .section-hero-mobile{
    background: linear-gradient(107deg, #1D2CAB 0.74%, #00BAE3 100%);
  }
  .hero-mobile-heading {
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 1.25rem;
    padding-top: 95px;
    
  }
  .hero-mobile-text {
    color: #FFF;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 0 1.25rem;
    padding-top: 19px; 
  }
  .hero-mobile-no {
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    padding-top: 1px; 
    text-align: center;
  }
  .hero-mobile-img{
    width: 100%;
    overflow-x: hidden;
    padding-top: 19px;
  }
  .button-pink-hero{
    border-radius: 31.5px;
    background: #FF456D;
    color: #FFF;
    font-family: Plus Jakarta Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 65px;
    margin-top: 27px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
  }
  
}


@media (min-width: 601px) {
  .section-hero-mobile {
    display: none;
  }
}
@media (max-width:1023px) {
  .sharing-section{
    display: none;
  }
  .sharing-responsive h3 {
    padding-top: 19px;
    padding-right: 1.25rem;
  }
  .sharing-responsive h4 {
    padding-top: 19px;
    padding-right: 1.25rem;
  }
}
@media (min-width:1023px) {
  .sharing-section{
    display: block;
  }
  .management-img-resp{
    display: none;
  }
  
}
@media (max-width:600px) {
  .sharing-section{
    display: none;
  }
  .sharing-svg-img{
    width: 100%;
  }
  .sharing-responsive h3 {
    padding-top: 19px;
    padding-right: 1.25rem;
  }
  .sharing-responsive h4 {
    padding-top: 19px;
    padding-right: 1.25rem;
  }
}
@media (min-width: 601px) {
  .sharing-svg-img{
    width: 100%;
  }
}
@media (min-width: 1201px) {
  .owl-carousel.owl-theme.first-carousel
  {
        max-width: 100%;
    margin: 0 136px;
    margin-top: 100px;
  }
  .owl-carousel.owl-theme.second-carousel{
        max-width: 100%;
    margin: 0 91px;
    margin-top: 100px;
  }
  
}

@media (min-width: 1201px) {
  .owl-carousel.owl-theme.first-carousel
  {
        max-width: 100%;
    margin: 0 136px;
    margin-top: 100px;
  }
  .owl-carousel.owl-theme.second-carousel{
        max-width: 100%;
    margin: 0 91px;
    margin-top: 100px;
  }
  
}

/**************************/
/* Content and video section */
/**************************/

/* For screens with a maximum width of 1200px */
@media (max-width: 1200px) {
   h3 {
color: #FF456D;
padding-top: 95px;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
  }
  h4 {
    color: #181824;
padding-top: 9px;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }


  .video-container {
    margin-top: 50px; /* Adjust the top margin as needed */
    padding: 0 1.25rem;
  }

  .video-ytb {
    width: 100%;
    max-width: 600px; /* Set a maximum width for the video as needed */
    max-height: 372px;
  }

  .button-container-ytb {
    margin-top: 40px;
        padding-left: 1.25rem;

  }

  .video-bottom-text {
    padding: 20px; /* Adjust the top margin as needed */
    padding-bottom: 84px; /* Adjust the bottom padding as needed */
  }
}

/* For screens with a maximum width of 600px (mobile) */
@media (max-width: 600px) {
  h3 {
color: #FF456D;
padding-top: 95px;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
  }

  h4 {
    color: #181824;
padding-top: 9px;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .video-container {
    margin-top: 50px; /* Adjust the top margin for mobile */
    padding: 0 1.25rem;
  }

  .video-ytb {
    max-width: 100%; /* Make the video responsive, full-width for mobile */
    max-height: 250px;
  }

  .button-container-ytb {
    margin-top: 20px; 
        padding-left: 1.25rem;

  }

  .video-bottom-text {
    padding: 20px; /* Adjust the top margin for mobile */
    padding-bottom: 84px; /* Adjust the bottom padding for mobile */
  }
}


  /**************************/
  /* SERVICES*/
  /**************************/


  @media (max-width: 1200px) {
      .services {
        padding: 0 1.25rem;
      }
    .services h5  {
        margin: 0;
        padding: 0;
        color: #00B6F9;
        font-family: Plus Jakarta Sans;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;
        text-align: left;
        padding-top: 95px;
        
        
    }
    .services h4  {
      margin: 0;
      padding: 0;
      color: #181824;
      font-family: Plus Jakarta Sans;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: left;
      padding-top: 21px;
      
    }
    .services-text {
      padding: 0;
      margin: 0;
      color: #1E1E1E;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      padding-top: 21px;
      text-align: left;

    }
    .item{
      width: 80px !important; /* Adjust the image width for small screens */
      padding: 0; /* Remove padding for small screens */
    }
    
    .owl-carousel.owl-theme.second-carousel{
      padding: 0;
      margin: 0;
      margin-top: 44px;
          max-width: 100%;
    }
    .owl-carousel.second-carousel .owl-item{
      margin: 0;
      padding:0,
    }
    .icon-txt{
    color: #1E1E1E;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  }

  /* For screens with a maximum width of 600px (mobile) */
  @media (max-width: 600px) {
    .services {
        padding-left: 1.25rem;
      }
    
    .services h5  {
      padding: 0;
      margin: 0;
      padding: 0;
      color: #00B6F9;
      font-family: Plus Jakarta Sans;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      text-align: start;
      padding-top: 95px;
        
        
    }

    .services h4  {
      padding: 0;
      margin: 0;
      padding: 0;
      color: #181824;
      font-family: Plus Jakarta Sans;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: start;
      padding-top: 21px; 
    }
    .services-text {
      padding: 0;
      margin: 0;
      color: #1E1E1E;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      padding-top: 21px;
      text-align: left;
    }
    .item{
      width: 120px !important; /* Adjust the image width for small screens */
      padding: 0; /* Remove padding for small screens */
    }
   
  .custom-next{
    right: 0;
    top: -30px;

  }
  .second-carousel .owl-item {
    margin: 0;
    padding: 0;

  }
  .icon-txt{
    color: #1E1E1E;
    text-align: center;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .owl-carousel.owl-theme.second-carousel{
      padding: 0;
      margin: 0;
      margin-top: 44px;
    }
    
  }




 /**************************/
  /* Leads*/
  /**************************/
@media (max-width: 1023px) {
  .leads {
  display: none; 
 }
 .leads-responsive {
  padding-left: 1.25rem;
 }
 .leads-mobile {
  width: 100%;
 }
 .leads-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .leads-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 .lead-testimonial {
  padding-top: 79px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }

}
 

@media (max-width: 600px) {
    .leads {
  display: none; 
 }
 .leads-responsive {
  padding-left: 1.25rem;
  
 }
 .leads-mobile {
  width: 100%;
 }
 .leads-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .leads-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 
 .lead-testimonial {
  padding-top: 79px;
  padding-bottom: 95px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }

}


/**************************/
  /* CONTACT*/
  /**************************/

  @media (max-width: 1200px) {
  
 .contacts-responsive {
  padding-left: 1.25rem;
 }
 .contacts-mobile {
  width: 100%;
  padding-top: 58px;
 }
 .contacts-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .contacts-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 .contact-paragraphe{
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  
 }
 .lead-testimonial {
  padding-top: 79px;
  padding-bottom: 95px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }

}
 

@media (max-width: 600px) {
    .contacts {
  display: none; 
 }
 .contacts-responsive {
  padding-left: 1.25rem;
  
 }
 .contacts-mobile {
  width: 100%;
  padding-top: 58px;
 }
 .contacts-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .contacts-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 .contact-paragraphe{
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  
 }
 .lead-testimonial {
  padding-top: 79px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }

}


/**************************/
  /* sharing*/
  /**************************/

  @media (max-width: 1200px) {
 
 .sharing-responsive {
  padding-left: 1.25rem;
 }
 .sharing-mobile {
  width: 100%;
  padding-top: 58px;
 }
 .sharing-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .sharing-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 .contact-paragraphe{
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

 }
 .lead-testimonial {
  padding-top: 79px;
  padding-bottom: 95px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }

}
 

@media (max-width: 600px) {
    .sharing {
  display: none; 
 }
 .sharing-responsive {
  padding-left: 1.25rem;
  
 }
 .sharing-mobile {
  width: 100%;
  padding-top: 58px;
 }
 .sharing-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .sharing-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 .contact-paragraphe{
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

 }
 .lead-testimonial {
  padding-top: 79px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }

}


/**************************/
  /* reminder*/
  /**************************/

  @media (max-width: 1200px) {
 
 .reminder-responsive {
  padding-left: 1.25rem;
 }
 .reminder-mobile {
  width: 100%;
  padding-top: 58px;
 }
 .reminder-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .reminder-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 .contact-paragraphe{
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

 }
 .lead-testimonial {
  padding-top: 79px;
  padding-bottom: 95px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }
 .reminder-svg-img{
  padding-top: 42px;
 }

}
 

@media (max-width: 600px) {
    .reminder {
  display: none; 
 }
 .reminder-responsive {
  padding-left: 1.25rem;
  
 }
 .reminder-mobile {
  width: 100%;
  padding-top: 58px;
 }
 .reminder-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .reminder-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 .contact-paragraphe{
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

 }
 .lead-testimonial {
  padding-top: 79px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }

}

/**************************/
  /* analytics*/
  /**************************/

  @media (max-width: 1200px) {
  
 .analytics-responsive {
  padding-left: 1.25rem;
 }
 .analytics-mobile {
  width: 100%;
  padding-top: 58px;
 }
 .analytics-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .analytics-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 .contact-paragraphe{
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;

 }
 .lead-testimonial {
  padding-top: 79px;
  padding-bottom: 95px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }

}
 

@media (max-width: 600px) {
    .analytics {
  display: none; 
 }
 .analytics-responsive {
  padding-left: 1.25rem;
  
 }
 .analytics-mobile {
  width: 100%;
  padding-top: 58px;
 }
 .analytics-responsive h3 {
  padding-top: 95px;
  text-align: left;
 }
 .analytics-responsive h4 {
  padding: 0;
  padding-top: 15px;
  text-align: left;
 }
 .contact-paragraphe{
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  
 }
 .lead-testimonial {
  padding-top: 79px;
 }
 .text-a{
  padding-top: 10px;
 }
 .text-b{
  padding-top: 12px;
 }

}



/**************************/
  /* management*/
  /**************************/

  @media (max-width: 1023px) {
    .management-section{
      padding-bottom: 95px;
      background-color: #00B6F90F;
}
.management{
        padding: 0;
        margin: 0;
        padding-left: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }
  .management-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }
  .management-header{
    color: #164D62;
    font-family: Plus Jakarta Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 142.857% */
    text-align: left ;
    padding-top: 95px;
    
  }

  .management-text {
    color: #164D62;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 130% */
    padding-top: 11px;
    text-align: left ;
  }
  .last-text {
    color: #164D62;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    padding-top: 11px;
    text-align: left ;
    padding-bottom: 47px;
  }
  .button-container-video{
    padding-left: 1.25rem;
    padding-top: 47px;
  }
  .management-img {
    max-width: 100%;
    border-radius: 24px;
    background: #F0FBFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  }
  .management-image {
    padding-top: 75px;
    padding-bottom: 95px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
 
  .button-pink {
      width: 100%;
      text-align: center;
      
    }
    .button-pink-easy{
      margin-bottom: 80px;
    }
    
}
 

@media (max-width: 600px) {
  .management-section{
      padding: 0;
      margin: 0;
      padding-bottom: 95px;
      background-color: #00B6F90F;
}
  .management{
        padding: 0;
        margin: 0;
        padding-left: 1.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }
  .management-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
  }
  .management-header{
    color: #164D62;
    font-family: Plus Jakarta Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; 
    text-align: left ;
    padding-top: 95px;
  }
  .management-text {
    color: #164D62;
    font-family: Plus Jakarta Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; 
    padding-top: 11px;
    text-align: left ;
  }
  .last-text {
    color: #164D62;
    font-family: Plus Jakarta Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; 
    padding-top: 11px;
    text-align: left ;
    padding-bottom: 47px;
  } 
  .button-container-video{
    padding-left: 1.25rem;
    padding-top: 47px;
  }
  .management-img {
    max-width: 100%;
    border-radius: 24px;
    background: #F0FBFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  }
  .management-image {
    padding-top: 75px;
    padding-bottom: 95px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  
  .button-pink {
      width: 100%;
      text-align: center;
      
    }

}


/**************************/
  /* integration*/
  /**************************/

  @media (max-width: 1200px) {
    .integration-section{
      display: none;
    }
    .integration-responsive{
      padding-left: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 95px;
    }
    .integration-header{
      color: #181824;
      font-family: Plus Jakarta Sans;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
      text-align: left;
      padding-top: 95px;
    }
    .integration-text {
      color: #1E1E1E;
      font-family: Plus Jakarta Sans;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
      padding-top: 20px;
    }
    .integration-img {
      padding: 58px 1.25rem 83px 1.25rem;
    }
    .button-blue {
      width: 100%;
      text-align: center;
      margin-right: 1.25rem;
    }
}
 

@media (max-width: 600px) {
  .integration-section{
      display: none;
    }
.integration-responsive{
      padding-left: 1.25rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 95px;
    }
.integration-header{
      color: #181824;
      font-family: Plus Jakarta Sans;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px;
      text-align: left;
      padding-top: 95px;
    }
    .integration-text {
      color: #1E1E1E;
      font-family: Plus Jakarta Sans;
      font-size: 22px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
      padding-top: 20px;
    }
    .integration-img {
      padding: 58px 1.25rem 83px 1.25rem;
    }
    .button-blue {
      width: 100%;
      text-align: center;
      margin-right: 1.25rem;
    }
    


}

/**************************/
  /* impact*/
  /**************************/

  @media (max-width: 1200px) {
    .impact-section{
      display: none;
    }
    
  
    .owl-carousel .owl-item img {
      width: auto;
    }
    .twitter-logo{
      width: 18px;
      height: 19px;
    }
    .avatar-twitter{
       width: auto!important;
    }
   .twitter-logo-rsp{
       width: auto!important;
    }
    .impact-cards{
      
      display: block;
      }
  

.custom-prev-last{
  display: none;
}
.custom-next-last{
  display: none;
}
.impact-header {
  padding: 0;
  color: #00B6F9;
  font-family: Plus Jakarta Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 1.25rem;
  padding-top: 95px;
  text-align: left;
  margin: 0;
}
.impact-text {
  padding: 0;
  color: #181824;
  font-family: Plus Jakarta Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  padding-left: 1.25rem;
  padding-top: 22px;
  margin: 0;
}
.owl-carousel.last-carousel{
        padding: 0;
        padding-left: 1.25rem;
        max-width: 100%;
        overflow-x: hidden;
        height: auto;
        padding-top: 6rem;
        padding-bottom: 95px;

      }
      .owl-item {
        max-width: 100%;
      }
      .owl-dots {
        position: absolute;
        left: 25px;
        top: 0px;
      }
      .owl-carousel .owl-item .impact-card {
        width: auto;
      }


}
 

@media (max-width: 600px) {
  .impact-section{
      display: none;
    }
    
    .owl-carousel .owl-item img {
      width: auto;
    }
    .twitter-logo{
      width: 18px;
      height: 19px;
    }
    .avatar-twitter{
      width: auto !important;
    }
    .twitter-logo-rsp{
       width: auto!important;
    }
    .impact-cards{
      
      display: block;
      }
      
      .custom-prev-last{
        display: none;
      }
      .custom-next-last{
        display: none;
      }

      .impact-header {
        padding: 0;
        margin: 0;
        color: #00B6F9;
        font-family: Plus Jakarta Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-left: 1.25rem;
        padding-top: 95px;
        text-align: left;
      }
      .impact-text {
        padding: 0;
        margin: 0;
        color: #181824;
        font-family: Plus Jakarta Sans;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        padding-left: 1.25rem;
        padding-top: 22px;
      }

      .owl-carousel.last-carousel{
        max-width: 100%;
        overflow-x: hidden;
        height: auto;
        padding: 0;
        padding-left: 1.25rem;
        padding-top: 6rem;
        padding-bottom: 95px;

      }
      .owl-item {
        width: 100%;
      }
      .owl-dots {
        position: absolute;
        left: 25px;
        top: 0px;
      }
      .owl-carousel .owl-item .impact-card {
        width: auto;
      }



}

/**************************/
  /* privacy*/
  /**************************/
@media (min-width: 1024px) {
  .privacy-section-responsive{
    display: none;
  }
  .privacy-section{
      display: block;
    }
}
@media (max-width: 1023px) {
    .privacy-section{
      display: none;
    }
    .prv-heading{
      color: #181824;
      font-family: Plus Jakarta Sans;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 56px; /* 140% */
      text-align: left;
      padding-top: 95px;
    }
    .prv-text{
      color: #1E1E1E;
      font-family: Plus Jakarta Sans;
      font-size: 25px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-align: left;
      padding-top: 19px;
      padding-bottom: 44px;
    }

}
 
@media (max-width: 944px) {
    .prv-heading{
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    .prv-text{
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    .prvcard-text {
      color: #1E1E1E;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-top: 12px;
      text-align: left;
    }
    .prvcard-text2 {
      color: #1E1E1E;
      font-family: Plus Jakarta Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 14px;
    }
    .prv-card {
      margin-bottom: 33px;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 30px;
      padding-bottom: 34px;
      border-radius: 12px;
      border: 1px solid #D9D9D9;
      background: #FFF;
      box-shadow: 0px 22px 44px 0px rgba(0, 0, 0, 0.02);
      
    }

}
@media (max-width: 600px) {
  .prv-heading{
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    .prv-text{
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    .prvcard-text {
      color: #1E1E1E;
      text-align: center;
      font-family: Plus Jakarta Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      padding-top: 12px;
      text-align: left;
    }
    .prvcard-text2 {
      color: #1E1E1E;
      font-family: Plus Jakarta Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding-top: 14px;
    }
    .prv-card {
      margin-bottom: 33px;
      margin-left: 1.25rem;
      margin-right: 1.25rem;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 30px;
      padding-bottom: 34px;
      border-radius: 12px;
      border: 1px solid #D9D9D9;
      background: #FFF;
      box-shadow: 0px 22px 44px 0px rgba(0, 0, 0, 0.02);
      
    }

}






















@media (min-width: 1200px) {
  .impact-section-responsive {
    display: none;
  }
  .integration-section-responsive {
    display: none;
  }
  .analytics-responsive {
    display: none;
  }
  .reminder-responsive {
    display: none;
  }
  .sharing-responsive {
    display: none;
  }
  .contacts-responsive {
    display: none;
  }
  .leads-responsive {
    display: none;
  }
  .button-pink-easy {
    display: none;
  }
  
}



@media (max-width: 1023px) {
  
  .button-pink-mobile {
    display: none;
  }
  .footer-container{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 92px;
  }
  
  FAQS{
    padding:0 1.25rem;
  }
  .accordion {
    padding:0 1.25rem;
  }
  
}

@media (max-width: 600px) {
  
  
}