

* {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans';
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
  

}
.grey{
  background: rgba(234, 234, 234, 0.20);
}
/* STICKY NAVIGATION */
/* .sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 88%;
  height: 6rem;
  padding: 0 5.8rem;
  background: linear-gradient(107deg, #1D2CAB 0.74%, #00BAE3 100%);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .hero-sticky {
  margin-top: 9.6rem;
} */

/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
   height: 9rem;
  padding: 0 5.8rem;
  width: 100%;
  z-index: 9999;
  position: absolute;
  top: 0;
   
}
a {
  cursor: pointer;
}


.hamburger {
  display: none;
  cursor: pointer;

}


/**************************/
/* NAVIGATION */
/**************************/
.logo{
  cursor: pointer;
  padding-left: 6rem;
 }
 .logo-col1{
  cursor: pointer;
 }
 .logo-col2{
  cursor: pointer;
 }
 .footer-heading{
  cursor: pointer;
 }
 .footer-link{
  cursor: pointer;
 }
.main-nav-list{
  list-style: none;
  display: flex;
  
  gap:16px
}
.main-nav-link{
cursor: pointer;
color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;

}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  font-family: Plus Jakarta Sans;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  transition: all 0.3s;
  color: #505050;
}
.nav-login {
  color: #FFF;
  display: inline-block;
  font-family: Plus Jakarta Sans;
  text-decoration: none;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.nav-login:hover 

 {
  transition: all 0.3s;
  color: #505050;
}

.button-pink {
  cursor: pointer;
  border: none;
  color: #FFF;
  border-radius: 27.5px;
background: #FF456D;
display: inline-block;
  font-family: Plus Jakarta Sans;
  text-decoration: none;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 17px 29px;
}
.button-pink:hover {
  cursor: pointer;
  border: none;
  color: #FFF;
  border-radius: 27.5px;
  background: #F03E64;
  transition: all 0.3s;

}
.nav-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {

    background: linear-gradient(107deg, #1D2CAB 0.74%, #00BAE3 100%);
    padding-left: 99px;
  

    
}
.hero-content{
  margin-bottom: 10rem;
}
.hero-mobile-image {
  width: 100%;
}
.hero-mobile{
  display: none;
}
.header{

  padding-left: 1rem;
}
.hero{
  position: relative;
  
  padding-left: 1rem;

  padding-top: 8.75rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
    
  align-items: center;

}
h1 {
  padding-bottom: 19px;
  margin: 0;
color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 41px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.hero-text {
  color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 141.176% */
margin-bottom: 31px;
}

.hero-bottom-text {
  color: #FFF;
font-family: Plus Jakarta Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 34px; /* 242.857% */
padding-top: 6px;
padding-left: 17px;
}

h2 {
  margin: 0;
  padding-top: 69px;
  color: #1E1E1E;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 27px;
font-style: normal;
font-weight: 600;
line-height: 41px; /* 151.852% */
}

.item {
  width: 200px;
height: 41px;
flex-shrink: 0;
}
.hero-image{
  overflow: hidden;
}

.hero-img-b{
position: absolute;
    bottom: -146px;
    right: 26px;
    z-index: 8;
}
.hero-img-c{
position: absolute;
    bottom: -79px;
    right: 105px;
    z-index: 1;
}
/* Style the "partners" section */
/* Style the "partners" section */
.partners {
  text-align: center; /* Center the carousel and its content */

flex-shrink: 0;
background: rgba(234, 234, 234, 0.20);
}
/* Style the "partners" section */
/* Style the "partners" section */
.partners {
  text-align: center; /* Center the carousel and its content */
  

flex-shrink: 0;
background: rgba(234, 234, 234, 0.20);
}

/* Style the "partners" section */
.partners {
  text-align: center; /* Center the carousel and its content */
  
height: 318px;
flex-shrink: 0;
background: rgba(234, 234, 234, 0.20);
}

/* Update the carousel styling */
.owl-carousel.owl-theme {
  width: 1241px; /* Set the desired width */
  height: 69px; /* Set the desired height */
  flex-shrink: 0;
  margin: 0 auto; /* Center the carousel horizontally */
  margin-top:70px;
  padding: 20px;
}
.owl-carousel.owl-theme.first-carousel{
  width: 1241px; /* Set the desired width */
  height: 69px; /* Set the desired height */
  flex-shrink: 0;
  margin: 0 160px; /* Center the carousel horizontally */
  margin-top:70px;
  padding: 20px;

}


.custom-prev-first{
background-color: transparent;
  border: none;
    position: absolute;
    left: -125px;
    top: -28px;
}
.custom-next-first{
  background-color: transparent;
  border: none;
    position: absolute;
        right: -2px;
    top: -28px;
}


.item1 {
  padding-top: 15px;
  width: 150px !important;
}
.item2 {
  padding-top: 15px;
  width: 150px !important;
}
.item3 {
  padding-top: 15px;
  width: 150px !important;
}
.item4 {
  padding-top: 15px;
  width: 150px !important;
}
.item5 {
  padding-top:20px;
  width: 150px !important;
}
.item6 {
  width: 150px !important;
}
.item7 {
  padding-top: 4px;
  width: 150px !important;
}
.item8 {
  padding-top: 15px;
  width: 73% !important;
}
/* Hide the default Owl Carousel dots */
.owl-dots {
  display: none;
  margin-right: 50px;
}

/* Style the navigation buttons */
.owl-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.custom-prev {
  background-color: transparent;
  border: none;
  position: absolute;
  left: -87px;
  top: -1px;
}
.custom-next {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 6px;
  top: -1px;
}
.custom-prev2 {
  background-color: transparent;
  border: none;
  position: absolute;
    left: -69px;
    top: 18px;
  
  
}
.custom-next2 {
  background-color: transparent;
  border: none;
  position: absolute;
    right: -41px;
    top: 17px;
  
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background: none; /* Remove the hover background */
  color: black;
  transition: all 0.3s;
}
.owl-carousel .item img {
  width: 144px;
  height: 49px;
  flex-shrink: 0;
  background: rgba(211, 211, 211, 0.5); /* Use rgba to set the color with 50% opacity */
  mix-blend-mode: luminosity;
}
/**************************/
/* Content and video section */
/**************************/
h3{
  margin: 0;
  padding-top: 120px;
color: #FF456D;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
h4{
  padding-top: 13px;
  margin: 0;
  padding: 19px 15%;
color: #181824;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 140% */
}


video {
     width: 1032px;
height: 569px;
flex-shrink: 0;
    border-radius: 11px;
border: 2px solid rgba(188, 188, 188, 0.37);
background: #FFF;
box-shadow: 0px 22px 44px 0px rgba(0, 0, 0, 0.06);
margin: 0 204px;
}
.button-container-ytb{
   display: flex;
    justify-content: center;
    margin-top: 69px;
}
.button-container{
   display: flex;
    justify-content: center;
    margin-top: 150px;
}
.video-bottom-text{
  margin-top: 5px;
  display: flex;
  justify-content: center;
  color: #757884;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 242.857% */
  padding-bottom: 144px;
}

/**************************/
/* Services */
/**************************/
.services {
  background-color: rgba(234, 234, 234, 0.20);
  
  flex-shrink: 0;
}
h5{
  margin: 0;
  padding-top: 102px;
  color: #00B6F9;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
strong {
    font-weight: bold;
}
.services-text {
  text-align: center;
  color: #1E1E1E;
  font-family: Plus Jakarta Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  
  margin: 21px 11%;
}
.owl-carousel owl-theme second-carousel owl-loaded owl-drag{
  margin-left: 102px;
}
/**************************/
/* Source section */
/**************************/
.sources {
  padding-bottom: 144px;
}
.source {
 
  
  padding-left:99px;
  padding-top: 47px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: flex-start;
}
.source-title {

    margin: 27px 0px;

color: #181824;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 140% */
}
.source-text {
margin:0;
color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}
.testimonial{
  display: flex;
  align-items: center;
  gap: 14px;

}
.source-content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.text-a{
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.text-b{
  color: #686868;
font-family: Plus Jakarta Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.source-img {
  padding-top: 55px;
  padding-bottom: 55px;
}
.source-pic-container{
  
  margin-top: 52px;
  overflow: hidden;
}
.source-pic {
  overflow: hidden;
}

/**************************/
/* Lead section */
/**************************/
.leads {
  padding-top: 138px;
  padding-bottom: 130px;
}
.lead{
  padding-left:99px;
  
  align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:60px;
    justify-content: space-between;
    align-items: center;
}
.icon-txt{
  margin: 0;
  color: #1E1E1E;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.icon-item {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
}
.lead-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  gap: 39px;
}
.lead-header{
  margin:0;
  color: #FF456D;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.card-one {
  width: 432px;
height: 142px;
flex-shrink: 0;
padding: 2px 22px 13px;
border-radius: 22px;
border: 1px solid #E0E0E0;
background: #FFF;
box-shadow: 0px 22px 44px 0px rgba(0, 0, 0, 0.20);
}
.card-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8.38px;

}
.text{
color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 200% */
}
.card-sec{
  color: rgba(30, 30, 30, 0.58);
font-family: Plus Jakarta Sans;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 215.385% */
}
.newlead{
  margin: 0;
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 186.667% */
}
.newlead-text{
  margin: 0;
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 133.333% */

}
.mini-logo {
  border-radius: 4px;
border: 0.4px solid rgba(217, 217, 217, 0.68);
background: #FFF;
box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
}
.lead-title {
  margin: 17px 0;
  color: #181824;
font-family: Plus Jakarta Sans;
font-size: 39px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 143.59% */
}
.lead-paragraphe{
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}
.lead-text {
  margin-right: 10px;
}
.lead-testimonial{
  display: flex;
  align-items: center;
  gap: 14px;
  padding-top:52px;

}
/**************************/
/* Contact section */
/**************************/
.contacts {
  padding-top: 116px;
}
.contact {
  position: relative;
    
    padding-left: 99px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 115px;
}
.contact-images{
  display: flex;
  justify-content: space-around;
  margin-right: 2rem;
  
}
.contact-title {
  color: #181824;
font-family: Plus Jakarta Sans;
font-size: 39px;
font-style: normal;
font-weight: 700;
line-height: 56px; 
}
.lead-web-container {
  overflow: hidden;
}
.lead-web {
  width: 100%;
  overflow: hidden;
}



/**************************/
/* Sharing section */
/**************************/
.sharing-section{
  background: rgba(234, 234, 234, 0.20);
  padding-top: 116px;
  padding-bottom: 116px;
    

    
}
.sharing {
    padding-left: 53px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.sharing-header{
color: #FF456D;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 152.941% */
text-transform: uppercase;
}
.sharing-title {
  color: #181824;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 120% */
}
.sharing-text {
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}


/**************************/
/* Reminder section */
/**************************/
.reminder-section {
  padding-top: 90px;
  padding-bottom: 30px;
}
.reminder{
    padding-left: 99px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 115px;
}

.reminder-header{
color: #FF456D;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.reminder-title{
  margin: 0;
color: #181824;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; 
}
.reminder-text{
color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}
.reminder-img{
  overflow: hidden;
}
.reminder-img-container{
  overflow: hidden;
}
/**************************/
/* Strategy section */
/**************************/
.strategy-section {
  background: rgba(234, 234, 234, 0.20);
  padding-top: 146px;
  padding-bottom: 300px;
}
.strategy {
  position: relative;
    padding-right: 95px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4%;
    
}
.strategy-header{
color: #FF456D;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 26px; /* 152.941% */
text-transform: uppercase;
}
.strategy-title{
color: #181824;
margin: 0;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 120% */
}
.strategy-text{
color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
}
.strategy-img1{
  position: absolute;
    z-index: 2;
    top: 0px;
    left: -4px;
}
.strategy-img2{
  position: absolute;
    bottom: 3.75rem;
    left: 14.5rem;
}
/**************************/
/* Analytics section */
/**************************/
.analytics1 {
  margin-bottom:14rem;
}
.analytics {
  padding-top: 114px;
}
.analytic{
  position: relative;
    
    padding-left: 99px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 115px;
}

/**************************/
/* management section */
/**************************/
.management-section {
background: rgba(0, 182, 249, 0.06);
}
.management{
    padding-left: 99px;
    padding-top: 116px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: center;
    gap: 8rem;
}

.management-header{
  color: #164D62;
font-family: Plus Jakarta Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 142.857% */
}
.management-text{
color: #164D62;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 300;
line-height: 26px; /* 130% */
}
.last-text{
  color: #164D62;
font-family: Plus Jakarta Sans;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 28px; /* 127.273% */
}
.management-img {

border-radius: 24px;
background: #F0FBFF;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
width: 100%;
}
.management-image {
    width: 58%;
    margin-bottom: 3rem;
    margin-left: 4rem;
    
}
.button-pink-mobile{
  border-radius: 31.5px;
  background: #FF456D;
  color: #FFF;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  padding: 20px 30px;
  
}

.button-pink-mobile:hover{
  background: #F03E64;
  transition: all 0.3s;
  
}
.button-container-video{
  display: flex;
  justify-content: center;

}
.management-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;

}
.button-pink-easy{
  border-radius: 31.5px;
  background: #FF456D;
  color: #FFF;
  text-align: center;
  font-family: Plus Jakarta Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration: none;
  padding: 20px 30px;
  margin-top: 44px;
  width: max-content;
 
}
.button-pink-easy:hover{
  background: #F03E64;  
  transition: all 0.3s;
}


/**************************/
/* features section */
/**************************/
.features-section{
  background: #00B6F9;
}
.features {
  display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 31px;
    padding: 65px 100px;
}
.features-h1{
  margin: 0;
  padding-top:148px;
  display: flex;
  justify-content: center;
  color: #FFF;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.features-h2{
  margin: 0;
  display: flex;
  justify-content: center;
  color: #FFF;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 140% */
}
.features-card {
  padding: 30px 42px 25px 24px;
  border-radius: 12px;
border: 1px solid #D9D9D9;
background: #FFF;
box-shadow: 0px 22px 44px 0px rgba(0, 0, 0, 0.02);
}
.gif-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding-bottom: 65px;
}
.card-h{
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.card-text {
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.gif-arrow{
  width: 54px;
    height: 54px;
}
/**************************/
/* integration section */
/**************************/
.integration-section {
  padding-bottom: 77px;
}
.integration{
padding-left:99px;
  padding-top: 116px;
    display: grid;
    grid-template-columns: 1fr 1.7fr;
    gap: 27px;
    align-items: center;
}
.integration-header{
  color: #181824;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px;
}
.integration-text{
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 37px; 
margin-bottom: 47px;
}
.button-blue {
  border-radius: 27.5px;
border: 1px solid #00B6F9;
color: #00B6F9;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
padding: 17px 55px;
transition: background-color 0.3s, color 0.3s;
}
.button-blue:hover {
  background-color: #00B6F9;
  color: #fff; 
  transition: all 0.3s;
}

/**************************/
/* impact section */
/**************************/
.impac
.impact-header{
  color: #00B6F9;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.impact-text{
  color: #181824;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px;
margin: 17px 145px;
}
.impact-cards{
display: flex;
justify-content: space-between;
align-items: center;
gap: 17px;
}
.owl-carousel .owl-item   .impact-card{
border-radius: 26px;
border: 1px solid #D9D9D9;
background: #FFF;
width: 363px;
height: 507px;
flex-shrink: 0;
margin-left: 10px;
display: flex;
flex-direction: column;
justify-content: space-between;
padding:34px 38px 36px 32px;

}
.custom-prev-last{
background-color: transparent;
  border: none;
    position: absolute;
    bottom: -12rem;
    left: -75px;
}
.custom-next-last{
  background-color: transparent;
  border: none;
    position: absolute;
    bottom: -12rem;
}
.impact-icon{
  width: 4%;
}
.impact-section{
  height: 62rem;
margin-top: 162px;

}

.owl-carousel .owl-item .impact-icon {
    width: 14%; /* Customize this width as needed */
}
.owl-carousel .owl-item .source-avatar {
  width: auto;
  border-radius: 50%;
}
.owl-carousel .owl-item .twitter-icon {
  /* width: auto; */
  /* position: absolute; */
  width: 24px;
height: 24px;
/* flex-shrink: 0;
right: 23px; */
}
.box1 {
  display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.testimonial-card{
  display: flex;
  align-items: center;
  position: absolute;
    bottom: 41px;
    width: 88%;
}
.text-b2{
color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px;
margin: 2px 0px; 
}
.spanb2{
color: #00B6F9;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}

.blue-span{
  color: #00B6F9;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 28px;
}
.imp-card-text{
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
}
.imp-card-text-last{
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;

}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block !important;  
}
/* Style the dots container */
.owl-dots {
  display: block !important; 
    text-align: center;
    margin-top: 20px;
    color: #00B6F9;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #00B6F9!important; 
    transition: all 0.3s;
}


/**************************/
/* privacy section */
/**************************/

.privacy-cards{
  margin: 0 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 38px;
  margin-top: 55px;
}
.privacy-card{
  border-radius: 12px;
border: 1px solid #D9D9D9;
background: #FFF;
box-shadow: 0px 22px 44px 0px rgba(0, 0, 0, 0.02);
display: flex;
width: 495.5px;
height: 234px;
flex-shrink: 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 15px;
padding: 26px 20px 37px 18px;
}
.privacy-header {
  color: #181824;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px;
display: flex;
justify-content: center;
}
.privacy-text{
  color: #1E1E1E;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
justify-content: center;
margin-top: 19px;
}
.privacycard-text{
  margin: 0;
color: #1E1E1E;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.privacycard-text2{
color: #1E1E1E;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0;
padding: 0px 23px;
}

.privacy1{

width: 56px;
height: 56px;
flex-shrink: 0;
}
.privacy{
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 170px 215px;
}


/**************************/
/* faqs section */
/**************************/
 /* Style for the FAQ container */
 .faqs{
  margin: 0;
    margin-top: 117px;
    margin-bottom: 36px;
  color: #181824;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 140% */
 }
.accordion {
    width:  100%;
    margin: 0 auto;
    margin-bottom: 119px;
        padding: 0 22%
}

.accordion-question {
    color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 32px;
    display: flex;
    position: relative;
    align-items: center;
    
    
}

.accordion-item {
    border-radius: 32.5px;
border: 1px solid #D9D9D9;
background: #FFF;
    cursor: pointer;
    margin: 14px 0px;
    overflow: hidden; /* Hide overflow content to enable smooth transition */
    transition: height 0.3s; /* Add a transition for smooth height change */
    

}
.accordion-item.active {
    height: auto; /* Allow the content to expand smoothly */
}

.accordion-answer {
    color: rgba(30, 30, 30, 0.69);
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 140% */
    display: none;
    padding-top: 24px;
    padding-bottom: 50px;
    padding-left: 32px;
    padding-right: 36px;
}
.accordion-item.active .accordion-question {
    padding-bottom: 0px; /* Reduce the padding when the accordion is active */
}

.accordion-item.active .accordion-answer {
    display: block;
}
.accordion-item.active{
  border-radius: 32.5px;
border: 1px solid #D9D9D9;
background: #FFF;
box-shadow: 0px 22px 44px 0px rgba(0, 0, 0, 0.08);
margin-bottom: 24px;

}

.acrd{
  position: absolute;
  right: 14px;
}
.accordion-answer::before {
    content: '';
    display: block;
    width: 823px;
    height: 1px;
    background: rgba(117, 120, 132, 0.38);
    margin-bottom: 24px;
}


/**************************/
/* guidance section */
/**************************/
.guidance-section {
  position: relative;
  background: #00B6F9;
  overflow: hidden;
}




.circle {
  overflow: hidden;
}
.circle1 {
    max-width: 97%;
    position: absolute;
    overflow: hidden;
    left: 124px;
    bottom: 8rem;
}

.circle2 {
    max-width: 97%;
    position: absolute;
    overflow: hidden;
    top: 45px;
    right: -17px;
}

.guidance-header {
  color: #FFF;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 140% */
padding-top: 83px;
padding-bottom: 53px;

display: flex;
justify-content: center;
}

.guidance-button{
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
padding: 20px 45px;
text-align: center;
font-family: Plus Jakarta Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
border-radius: 31.5px;
background: #FF456D;
z-index: 9999;

}
.guidance-button:hover{
  transition: all 0.3s;
  background-color: #F03E64;
  
}
.guidance-button-container{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 77px;
}


.footer-container{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  padding-left: 100px;
  padding-top:64px;
  gap: 70px;
}

.footer-heading{
  color: #6C6C6C;
font-family: Plus Jakarta Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 28px;
margin-top:22px;

}
.footer-link {
  text-decoration: none;
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 164.706% */
}

.footer-nav {
  list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 36px ;
    
}

.logo-col-text {
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 164.706% */
margin-top: 28px;
}
.logo-col-img {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 28px;
    gap: 16px;
}
.logo-col-img2 {
  width: 24%;
}
.address {
  color: #1E1E1E;
font-family: Plus Jakarta Sans;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 186.667% */
margin-top: 24px;
}


.video-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 51px;
}
.video-ytb{
  border-radius: 11px;
border: 2px solid rgba(188, 188, 188, 0.37);
background: #FFF;
box-shadow: 0px 22px 44px 0px rgba(0, 0, 0, 0.06);
width: 1032px;
height: 569px;
display: flex;

}








.testimonial-card2 {
    width: 401px;
    height: 416px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-header img {
    width: 40px;
    height: 40px;
    margin: 10px;
}

.testimonial-body {
    padding: 20px;
    text-align: center;
}

.testimonial-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-info {
    flex: 1;
    padding: 0 10px;
}

.name {
    font-weight: bold;
    margin: 0;
}

.username {
    color: #888;
    margin: 0;
}

.twitter-logo img {
    width: 30px;
    height: 30px;
}


/* CSS for the mobile menu */
 


/* CSS maxwidth images *//* CSS maxwidth images *//* CSS maxwidth images */

.reminder-svg-img {
  max-width: 100%;
}
.reminder-svg-img {
  max-width: 100%;
}
.integration-img {
  max-width: 100%;
}
.sharing-svg-img {
  max-width: 100%;
  padding-top: 41px;
  padding-bottom: 41px;
 
}

.line {
  margin: 0 auto;
  background: rgba(104, 104, 104, 0.18);
  height: 2px; /* Adjust the height as needed */
  margin-top: 47px; 
}